{% extends 'base.html.twig' %}

{% block body %}


    {% include 'default/panel.html.twig' %}
    <div class="data-analysis"></div>

    <div class="mainPage" id="wrapper">
        <div id="container">
            <div id="next">

                <div id="loading">
                    <img src="/img/loading.gif">
                    <div id="preloder-wczytywanie">
                        <p>Wczytywanie danych z pliku...</p>
                    </div>
                    <div id="preloder-obrobka">
                        <p>Obróbka danych...</p>
                    </div>
                    <div id="preloder-analiza">
                        <p>Generowanie analizy statystycznej...</p>
                    </div>
                </div>

                <div class="element">
                    <span class="file-content btn btn-default btn-file" id="file-content">
                        <button class="button2 file-input"> <span>Wybierz plik</span><input class="file-input"
                                                                                            type="file"
                                                                                            id="file-input"/></button>
                    </span>
                </div>

                <div id="regressionCanvas">
                    <h1>Wizualizacja danych</h1>
                    <h3>Prosta regresji</h3>
                    <canvas id="c" class="chart" width="750" height="360" ;></canvas>
                </div>
                <div class="data-processing" id="data-processing"></div>
                <div class="data-estymacja" id="data-estymacja"></div>

            </div>
        </div>
    </div>


    <div class="form-popup" id="form-popup">
        <img src="/img/status.gif">
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
