{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="myPanel">#}
    {#<ul>#}
    {#<li><a href="#1">#}
    {#<div>1. Pobranie danych z pliku</div>#}
    {#</a></li>#}
    {#<li><a href="#2">#}
    {#<div>2. Wstepna obróbka danych</div>#}
    {#</a></li>#}
    {#<li><a href="#3">#}
    {#<div>3. Analiza statystyczna</div>#}
    {#</a></li>#}
    {#<li><a href="#4">#}
    {#<div>4. Estymacja</div>#}
    {#</a></li>#}
    {#<li><a href="#5">#}
    {#<div>5. Wizualizacja danych</div>#}
    {#</a></li>#}
    {#</ul>#}
    {#</div>#}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Analiza i wizualizacja danych</span> Projekt 1</h1>
            </div>

            <div id="status">
                <p></p>
            </div>

            <div id="next">
                <div class="element" id="pierwszy">
                    <h2 id="title1">1. Plik .json</h2>

                    {#<span class="file-content" id="file-content">#}
                    {#<input class="file-input" type="file" id="file-input"/>#}
                    {#</span>#}

                    <span class="file-content btn btn-default btn-file" id="file-content">
                        <button> WYBIERZ PLIK<input class="file-input" type="file" id="file-input"/></button>
                    </span>

                </div>

                <div class="element arrow-down js-scroll" id="drugi">
                    <h2 id="title2">2. Wstepna obróbka danych</h2>


                    <span class="btn btn-default btn-file data-processing" id="file-content">
                        <button>OBRÓBKA DANYCH<input class="generateTable" type="file"/>
                        </button>
                    </span>

                </div>

                <div class="element" id="trzeci">
                    <h2 id="title3">3. Analiza statystyczna</h2>
                    <span class="btn btn-default btn-file data-analysis" id="file-content">
                        <button>GENERUJ ANALIZĘ STATYSTYCZNĄ DANYCH<input class="generateAnalysis" type="file"/>
                        </button>
                    </span>
                </div>

                {#<div class="element" id="czwarty">#}
                {#<h2 id="title4">4. Estymacja</h2>#}
                {#<span class="btn btn-default btn-file data-estymacja" id="file-content">#}
                {#<button>ESTYMACJA<input class="estymacja" type="file"/></button>#}
                {#</span>#}
                {#</div>#}

                {#<div class="element" id="piaty">#}
                {#<h2 id="title5">5. Wizualizacja danych</h2>#}
                {#<span class="btn btn-default btn-file data-estymacja" id="file-wizualizacja">#}
                {#<button>WIZUALIZACJA<input class="wizualizacja" type="file"/></button>#}
                {#</span>#}
                {#</div>#}

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>


    </style>
{% endblock %}
