{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Analiza i wizualizacja danych</span> Projekt 1</h1>
            </div>

            <div id="status">
                <p></p>
            </div>

            <div id="next">
                <div class="element">
                    <h2>1. Pobranie danych z pliku .json</h2>

                    {#<span class="file-content" id="file-content">#}
                    {#<input class="file-input" type="file" id="file-input"/>#}
                    {#</span>#}

                    <span class="file-content btn btn-default btn-file" id="file-content">
                        <button> WYBIERZ PLIK<input class="file-input" type="file" id="file-input"/></button>
                    </span>

                </div>

                <div class="element">
                    <h2>2. Wstepna obróbka danych</h2>


                    <div class="btn btn-default btn-file data-processing" id="file-content">
                        <input class="generate" id="submit" name="submit" type="submit" value="GENERUJ">
                    </div>

                </div>

                <div class="element">
                    <h2>3. Analiza statystyczna</h2>
                </div>

                <div class="element">
                    <h2>4. Estymacja</h2>
                </div>

                <div class="element">
                    <h2>5. Wizualizacja danych.</h2>
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/loadFile.js"></script>

{% endblock %}

{% block stylesheets %}
    <style>
        button {
            background-color: #b8b8b8;
            color: #3c3b3b;
            padding: 20px;
            padding-right: 40px;
            padding-left: 40px;
            margin-left: 20px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        input.file-input {
            padding: 10px;
            padding-right: 30px;
            padding-left:;: 30 px;
        }

        pre.file-content {
            margin-top: 20px;
            padding: 30px;
            font-size: small;
            /*background: #F5F5F5;*/
        }

        span.authors {
            float: right;
            font-style: italic;
            font-size: small;
        }

        div.element {
            margin: 20px;
            margin-bottom: 50px;
        }

        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
