{% extends 'base.html.twig' %}

{% block body %}

    <div class="myPanel">
        <ul>
            <li><a href="#1">
                    <div>1. Pobranie danych z pliku</div>
                </a></li>
            <li><a href="#2">
                    <div>2. Wstepna obróbka danych</div>
                </a></li>
            <li><a href="#3">
                    <div>3. Analiza statystyczna</div>
                </a></li>
            <li><a href="#4">
                    <div>4. Estymacja</div>
                </a></li>
            <li><a href="#5">
                    <div>5. Wizualizacja danych</div>
                </a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Analiza i wizualizacja danych</span> Projekt 1</h1>
            </div>

            <div id="status">
                <p></p>
            </div>

            <div id="next">
                <div class="element" id="1">
                    <h2>1. Pobranie danych z pliku .json</h2>

                    {#<span class="file-content" id="file-content">#}
                    {#<input class="file-input" type="file" id="file-input"/>#}
                    {#</span>#}

                    <span class="file-content btn btn-default btn-file" id="file-content">
                        <button> WYBIERZ PLIK<input class="file-input" type="file" id="file-input"/></button>
                    </span>

                </div>

                <div class="element arrow-down js-scroll" id="2">
                    <h2>2. Wstepna obróbka danych</h2>


                    <span class="btn btn-default btn-file data-processing" id="file-content">
                        <button>GENERUJ<input class="generate" type="file"/>
                        </button>
                    </span>

                </div>

                <div class="element" id="3">
                    <h2>3. Analiza statystyczna</h2>
                </div>

                <div class="element" id="4">
                    <h2>4. Estymacja</h2>
                </div>

                <div class="element" id="5">
                    <h2>5. Wizualizacja danych</h2>
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/loadFile.js"></script>

{% endblock %}

{% block stylesheets %}
    <style>


    </style>
{% endblock %}
