{% extends 'base.html.twig' %}

{% block body %}


    {% include 'default/panel.html.twig' %}


    <div class="data-analysis"></div>


    <div class="mainPage" id="wrapper">
        <span class="logoutSpan"><span class="logout"> <a href="{{ path('homepage') }}"> <img src="/img/logout.png"
                                                                                              alt="logout"></a></span> </span>

        <div id="container">
            <div id="next">

                <canvas id="c" width="650" height="375" ; style="padding: 10px"></canvas>

                <div class="element">
                    <span class="file-content btn btn-default btn-file" id="file-content">
                        <button class="button2 file-input"> <span>Wybierz plik</span><input class="file-input"
                                                                                            type="file"
                                                                                            id="file-input"/></button>
                    </span>

                </div>

                <div class="data-processing"></div>
                <div class="data-estymacja"></div>

            </div>

        </div>
    </div>


    <div class="form-popup" id="form-popup">
        <img src="/img/status.gif">
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
