{% extends "::base.html.twig" %}

{% block body %}
    <div class="mainPage" id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Analiza i wizualizacja danych</h1>
                <h2>Projekt 1</h2>
                <a href="{{ path('app_default_index') }}" ><button class="button" style="vertical-align:middle"><span>start </span></button></a>
            </div>
            {#<button id="startBtn" type="button">START</button>#}
        </div>
    </div>

{% endblock %}