<div class="popup">
    <div>Ile rekordów wygenerować?</div>
    <form id="estimationForm2">
        <input id="formValueEstimation" type="number" name="value">
        <input id="submitEstimation" type="submit" value="Zmień">
    </form>
</div>