<div class="popup">
    <div><a href={{ path('app_default_index') }}> <span>Wczytaj nowy plik</span> </a></div>
    <div><a href="{{ path('homepage') }}"> <span>Powrót do strony głównej</span> </a></div>
</div>